#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Main app containers */

.app-container-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  border-radius: 20px;
  background-color: #caeefe;
}

.app-container {
  width: 85%;
}

/* Main navigation bar/header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
}

.branding img {
  height: 40px;
  width: auto;
  padding-right: 10px;
}

/* Add new bill section */

.new-bill-section {
  display: flex;
  justify-content: center;
}

.bill-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.bill-form input,
.bill-form .datepicker-wrapper .react-datepicker__input-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 130px;
  box-sizing: border-box;
}

.react-datepicker__input-container input {
  width: 100%;
}

@media (max-width: 600px) {
  #root {
    padding: 0;
  }

  .app-container-wrapper {
    min-height: 100vh;
  }

  .app-container {
    width: 95%;
  }
}
