#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 80vw;
  min-height: 80vh;
  border-radius: 20px;
  background-color: #caeefe;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

.branding {
  display: flex;
  align-items: center;
}

.branding img {
  height: 40px;
  width: auto;
  padding-right: 10px;
}
