#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.app-container-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #caeefe;
}

.app-container {
  width: 85%;
}

/* mobile optimization */

@media (max-width: 600px) {
  #root {
    padding: 0;
  }

  .app-container-wrapper {
    min-height: 100vh;
  }

  .app-container {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  /* (1/4) remove this if reverting to old layout */
  .bill-sections {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
