/* Bill list/table styling */
.bill-table {
  display: grid;
  grid-template-rows: auto;
  row-gap: 8px;
  padding: 0px 30px 10px 30px;
  margin-bottom: 30px;
}

.bill-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bill-header,
.bill-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr auto;
  gap: 12px;
  align-items: center;
}

.bill-header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  height: 40px;
}

.bill-row {
  height: auto;
  min-height: 50px;
  max-height: 100px;
  border-bottom: 1px solid #bbbabad0;
}

.bill-table p {
  margin-top: 0;
  margin-bottom: 0;
}

/* bill table columns */

.column-name,
.column-date {
  text-align: left;
}

.column-amount {
  text-align: right;
  margin-right: 50%;
}

.column-status {
  text-align: center;
}

/* bill table columns in edit modes */
.column-edit-name,
.column-edit-date {
  min-width: 0;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.column-edit-amount {
  min-width: 0px;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
}

.column-edit-date
  .react-datepicker-wrapper
  .react-datepicker__input-container
  input {
  padding-left: 0px;
  padding-right: 0px;
}

/* ----- */

.bill-list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}

.bill-list {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
}

.bill-list h2 {
  text-align: left;
}

/* paid status toggle button */
.paid {
  color: rgb(0, 165, 0);
  background-color: #def7e8;
  transition: background-color 0.2s ease-in-out;
}

.unpaid {
  color: #159dfa;
  background-color: #d1e5f3;
  transition: background-color 0.2s ease-in-out;
}

/* delete button */

.delete-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='red' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7h6m2 0H7m3-3h4a1 1 0 011 1v1H8V5a1 1 0 011-1z' /%3E%3C/svg%3E");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: background-size 0.2s ease-in-out;
}

/* Bill controls at bottom of the table */
.bill-controls {
  display: flex;
  justify-content: end;
}

.bill-controls button {
  color: #159dfa;
  background-color: #e7e7e7;
  margin-left: 10px;
}

.bill-controls .save-button {
  color: white;
  background-color: rgb(85, 212, 85);
}

/* Mobile optimization */
@media (max-width: 600px) {
  .bill-table {
    padding: 0px 10px 30px 10px;
  }

  .bill-section-header {
    flex-direction: column;
  }

  .bill-header,
  .bill-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    align-items: center;
  }

  .column-amount {
    margin-right: 10%;
  }

  .bill-row {
    min-height: 50px;
    height: auto;
    gap: 12px;
  }
}

/* Desktop optimization */
@media (min-width: 1024px) {
  .paid:hover {
    color: white;
    background-color: rgb(96, 224, 96);
  }

  .unpaid:hover {
    color: white;
  }

  .delete-button:hover {
    background-size: 40px 40px;
    background-color: transparent;
  }

  .bill-controls button:hover {
    color: white;
    background-color: #48b3fa;
  }

  .column-edit-amount {
    margin-right: 35%;
  }
}
