.feature-section {
  display: flex;
  flex-direction: column;
}

.feature-section h1 {
  margin: 30px 0px 0px 0px;
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.feature-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.feature-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: center;
}

.feature-description {
  font-size: 1rem;
  color: #555;
}

/* Desktop optimization */
@media (min-width: 1024px) {
  .feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
}
