:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* CSS Variables */
  --font-color: #084471;
  --font-color-hover: #6abeff;
  --bg-color-1: #9cd7f3;
  --button-bg-color: #2a7bb4;

  color: var(--font-color);
  background-color: var(--bg-color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--font-color-hover);
}

p {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

button {
  font-size: 1.1rem;
  padding: 10px 10px;
  border: none;
  color: white;
  background-color: var(--button-bg-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--font-color-hover);
}

@media (max-width: 600px) {
  a,
  p {
    font-size: 1rem;
  }
}
